.container {
    padding: 20px;
  }
  
  nz-table {
    margin-top: 20px;
  }
  
  button {
    margin-right: 5px;
  }
  
  nz-modal form {
    display: flex;
    flex-direction: column;
  }
  
  nz-modal form div {
    margin-bottom: 15px;
  }
  
  nz-modal input {
    width: 100%;
  }
  